html, 
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* or min-height: 100dvh for dynamic viewport height */
  margin: 0; /* Ensure no margin on body */
  padding: 0; /* Ensure no padding on body */
}

body {
  overflow-x: hidden;
}

.my-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    min-width: 100%;
    height: 5em;
    background-color: #0f2534;
    margin-top: 1.5em;
    /* padding: 1em; */
    color: #ffff;
    font-size: 80%;
}

.room-image {
  max-width: 50%;
}