{{template "base" .}}

{{define "title"}}
    <title>About</title>
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the About Page</h1>
                <h5>{{index .StringMap "test"}}</h5>
                <hr>
                {{if ne (index .StringMap "remote_ip") ""}}
                    <h5>Your remote IP: {{index .StringMap "remote_ip"}}</h5>
                {{else}}
                    <h5>Remote IP not found!</h5>
                {{end}}
            </div>
        </div>
    </div>
{{end}}