{{template "admin" .}}

{{define "tab-title"}}
    <title>Calendar</title>
{{end}}

{{define "content"}}
    <div class="container-md">
        <div class="row">
            <div class="col">
                <h2>Admin Reservation Calendar</h2>
                Admin Reservation Calendar 
            </div>
        </div>                
    </div>
{{end}}