{{template "admin" .}}

{{define "page-title"}}
    Dashboard
{{end}}

{{define "tab-title"}}
    <title>Admin Dashboard</title>
{{end}}

{{define "content"}}
    <div class="row">
        <div class="col-md-12">
            Dashboard content
        </div>
    </div>
{{end}}