{{template "admin" .}}

{{define "tab-title"}}
    <title>New Reservations</title>
{{end}}

{{define "content"}}
    <div class="container-md">
        <div class="row">
            <div class="col">
            <h2>Admin New Reservations</h2>
                Admin New Reservations
            </div>
        </div>                
    </div>
{{end}}