{{template "admin" .}}

{{define "page-title"}}
    Dashboard
{{end}}

{{define "tab-title"}}
    <title>Admin Dashboard</title>
{{end}}

{{define "content"}}
    <div class="container-md">
        <div class="row">
            <div class="col">
                <h2>Dashboard content</h2>
                Dashboard content
            </div>
        </div>
    </div>
{{end}}