{{template "admin" .}}

{{define "tab-title"}}
    <title>All Reservations</title>
{{end}}

{{define "content"}}
    <div class="container-md">
        <div class="row">
            <div class="col">
            <h2>Admin All Reservations</h2>
                Admin All Reservations
            </div>
        </div>                
    </div>
{{end}}