{{template "admin" .}}

{{define "tab-title"}}
    <title>New Reservations</title>
{{end}}

{{define "content"}}
    <div class="container-md">
        <div class="row">
            <div class="col">
                {{$res := index .Data "reservations"}}
                <h2>Admin New Reservations</h2>
                <table class="table table-striped table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">#ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Room Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{range $res}}
                            <tr>
                                <td>{{.ID}}</td>
                                <td>
                                    <a href="/admin/reservations/new/{{.ID}}/show">{{.FirstName}}</a>
                                </td>
                                <td>{{.LastName}}</td>
                                <td>{{.Room.RoomName}}</td>
                                <td>{{humanDate .StartDate}}</td>
                                <td>{{humanDate .EndDate}}</td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>                
    </div>
{{end}}

{{define "css"}}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">

{{end}}

{{define "js"}}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function ()  {
            const dataTable = new simpleDatatables.DataTable("#myTable", {
                searchable: true,
                pagination: true,
                select: 3, sort: "desc"
            });
        });
        
    </script>
{{end}}