{{template "base" .}}

{{define "title"}}
    <title>Rooms</title>
{{end}}

{{define "content"}}
    <div class="container" style="margin-top: 60px">
        <div class="row">
            <div class="col">
                <h1>Choose a room</h1>
                {{$rooms := index .Data "rooms"}}
                <ul>
                    {{range $rooms}}
                        <li><a href="/choose-room/{{.ID}}">{{.RoomName}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
{{end}}