{{template "base" .}}

{{define "title"}}
    <title>Major's Page</title>
{{end}}

{{define "content"}}
    <!-- container -->
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col">
                <img src="static/images/marjors-suite.png" alt="generals quaters" class="img-fluid img-thumbnail room-image mx-auto d-block">
            </div>
        </div>
        <div class="row">
            <div class="col">
              <h1 class="text-center">Majors Suite</h1>
              <p>Your home away from home, set on the majestic water of the Atlantic ocean. This will be a vaccation to remember.Your home away from home, set on the majestic water of the Atlantic ocean. This will be a vaccation to remember.Your home away from home, set on the majestic water of the Atlantic ocean. This will be a vaccation to remember.Your home away from home, set on the majestic water of the Atlantic ocean. This will be a vaccation to remember.Your home away from home, set on the majestic water of the Atlantic ocean. This will be a vaccation to remember.Your home away from home, set on the majestic water of the Atlantic ocean. This will be a vaccation to remember.
              </p>
            </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <a href="#!" class="btn btn-success" id="check-availability-button">Check Availability</a>
          </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script type="text/javascript">
        modalOpen({{.CSRFToken}}, "5")
    </script>
{{end}}

