{{template "base" .}}

{{define "title"}}
    <title>Search Availability</title>
{{end}}

{{define "content"}}
    <!-- container -->
    <div class="container" style="margin-top: 60px;">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6">
            <h1>Search Availability</h1>
              <form action="/search-availability" method="post" class="needs-validation" novalidate>
                <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                <div id="date_picker">
                  <div class="row">
                      <div class="col">
                        <div class="mb-3">
                        <label for="start_date" class="form-label">Starting Date</label>
                        <input type="text" class="form-control" id="start_date" name="start" required placeholder="Arrival" autocomplete="off">
                        <div id="start_date" class="form-text">Enter the starting date in the form of YYYY-MM-DD</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="end_date" class="form-label">Ending Date</label>
                        <input type="text" class="form-control" id="end_date" name="end" required placeholder="Departure" autocomplete="off">
                        <div id="end_date" class="form-text">Enter the ending date in the form of YYYY-MM-DD</div>
                      </div>
                    </div>
                  </div>
                </div>
                  <button type="submit" class="btn btn-primary">Search Availability</button>
              </form>
          </div>
        </div>
    </div>
{{end}}

{{define "js"}}
  <script type="text/javascript">
    // Datepicker
                const elem = document.getElementById('date_picker');
                const rangepicker = new DateRangePicker(elem, {
                buttonClass: 'btn',
                format: "yyyy-mm-dd",
                minDate: "Date",
                autohide: true
                });
  </script>
{{end}}